<h3 mat-dialog-title>Personal information dialog</h3>
<mat-dialog-content>
    <p>
        People search for this Lorem ipsum dummy copy text using all kinds of names, such as Lorem ipsum, lorem ipsum dolor sit amet, Lorem, dummy text, loren ipsum (yes, spelled wrong), Lorem ipsum sample textipsum loremlorem ipsum sample, Latin copy text, Lorem ipsum text, Latin dummy text, template text, sample text, dummy copy text, Latin sample text, HTML dummy text, Lorem ipsum dummy text, filler text or copy filling text, and many other names. Regardless of what you wish to call it, this text 
    </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton>
    Yes
  </button>
  <button matButton mat-dialog-close>
    No
  </button>
  <button matButton (click)="closeDialog()">
    Close
  </button>
</mat-dialog-actions>
